ENV=qa
BASE_URL=https://your-app-url.com
API_BASE_URL=https://your-api-url.com
ADMIN_USER=your_username
ADMIN_PASSWORD=your_password
LOCKED_USER=locked_out_user
PROBLEM_USER=problem_user
LOG_LEVEL=info
